* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;

}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}


.zippo {

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
}


.header-banner {
  nav {
    background-color: #282828 !important;
    height: 40px;

    .navbar-brand {
      color: white;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
    }

    .text-right {
      margin-bottom: 4px;

      a {
        color: #ffffff;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }

      i {
        padding: 0 4px;
        font-size: 13px;
      }

      .check-order {
        margin-right: 2.5rem;
      }
    }
  }




  a {
    text-decoration: none;
  }
}

.promo-header {
  background-color: #F9BC02;
  height: 50px;

  .text {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    a {
      text-decoration: none;
      color: black;
    }

    p {
      padding: 4px 0px;
      text-align: center;
    }

    .price {
      p {

        margin-left: auto;
        margin-right: auto;
        margin-top: -29px;
      }
    }

    :hover {
      text-decoration: underline;
      color: black;
      cursor: pointer;
    }

  }



}

#m-menu2 {

  height: 1184px;
}


.main-header {
  position: relative;
  z-index: 1;
 
  margin-left: -1rem;
    width: 102%;

  #menu1::-webkit-scrollbar {
    display: none;
  }

  .menu-ul-1 {
    padding: 10px 0px 10px 10px;
    margin-left: -18px;


  }

  #menu1 {
    background-color: rgb(251 251 251);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    margin-top: -6rem;
    
  }



  .menu-ul {
    list-style-type: none;
    background-color: rgb(251 251 251);
    margin-left: -18px;
    padding: 10px 0px 10px 10px;





    a,
    label {
      display: block;
      text-align: left;
      padding: 0 35px;
      line-height: 47px;
      text-decoration: none;
      color: #333;
      cursor: pointer;
      font-size: 1rem;
      position: relative;

      &:hover {
        height: 100%;
        background: #e4e4e4;
      }

    }


    label {
      background-color: rgb(251 251 251);
      width: 100%;

    }

    li {
      background-color: rgb(251 251 251) !important;
      width: 100% !important;
    }
  }



  #m-menu2 {

    .menu-ul:target {
      display: none !important;
    }

    ul {
      list-style-type: none;
      background-color: rgb(251 251 251);
    }

    .m-menu__header {
      &:hover {
        stroke: red;
        color: red;
      }

      height: 62px;
      background-color: white;

      // position: sticky;
      // top: 0;
      // left: 0;
      // z-index: 99999999999999;


    }



    .prev {
      margin-left: -4px;
    }
  }

  /* Mixin */
  @mixin flexBox() {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }

  @mixin align-items($align) {
    -webkit-align-items: $align;
    align-items: $align;
  }

  @mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
  }

  @mixin box-sizing($border-box) {
    -webkit-box-sizing: $border-box;
    -moz-box-sizing: $border-box;
    box-sizing: $border-box;
  }

  @mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
  }

  @mixin translate ($x, $y) {
    @include transform(translate($x, $y));
  }

  @mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
  }

  body {
    background-color: #f1f1f1;

  }


  nav {
       

    background-color: white;
    height: 50px;
    padding: 0 16px;
    @include flexBox();
    @include align-items(center);

    .m-menu__checkbox {
      display: none;
    }


    span {
      &:hover {
        color: red;
      }
    }

    .m-menu::-webkit-scrollbar {
      display: none;
    }

    .m-menu {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 375px;
      width: calc(100vw - 30px);
      height: 800%;
      @include transform(translate3d(-450px, 0, 0));
      @include transition(transform 0.35s);
      z-index: 1;
      overflow: hidden;
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */
      scrollbar-width: none;
      background-color: #fff;

      &__overlay {
        background-color: hsl(0deg 0% 5% / 50%);
        position: absolute;
        top: -91px;
        width: 100%;
        bottom: -550px;
        z-index: 1;
        display: none;
      }

      hr {

        border-top: 1px solid #0c0808;
        width: 400px;
        margin-left: -2rem;
      }

      .hr {
        border-top: 1px solid #ccc;
        display: inline-block;
        width: 326px;
        margin: 0 33px;
        margin-bottom: 10px;
      }


      &__header {
        padding: 0 16px;
        height: 50px;
        @include flexBox();
        @include justify-content(space-around);
        @include align-items(center);
        border-bottom: 1px solid #e8e8e8;

        span {
          font-size: 14px;
          font-weight: bold;
          width: 100%;
          margin-left: -28px;
        }
      }

      .category-header {
        background-color: rgb(251 251 251);
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 17px 28px;
        color: #000000;
      }

      .category-header2 {
        background-color: rgb(251 251 251);
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 17px 34px;
        color: #000000;
      }



      .category-games {
        margin-left: 17px;

        a {
          background-color: rgb(251 251 251);
          font-size: 20px;
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          padding: 0px 17px;
          color: #000000;
        }
      }

      .content-support {
        // border-top: 15px;
        background-color: rgb(251 251 251);
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 17px 34px;
        color: #000000;
      }

      .content-explore {
        background-color: rgb(251 251 251);
      }

      .new-releases {
        border-top: 1px solid #ccc;
      }




      #menu-header {
        background-color: white;
        height: 4rem;
        // position: -webkit-sticky; 
        // position: sticky;
        // top: 0;
        // z-index: 999999999999;

      }


      .m-menu {
        @include transform(translate3d(480px, 0, 0));

      }

      .store-container {
        background-color: rgb(251 251 251);

        a {
          &:hover {
            color: #e7230d;
          }
        }

        .store-icon {
          i {
            margin-left: -3rem;
            margin-top: 0.8rem;
          }

        }
      }

      .store-header {
        padding: 4px 0;
        background-color: rgb(251 251 251);
        border-bottom: 1px solid #ccc;
        padding-left: 25px;

        .store-name {
          font-size: 14px;
          font-weight: 700;
          padding: 0 100px 0 0;
          font-family: 'Open Sans', sans-serif;
        }

        .store-time {
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
        }
      }

      ul {
        height: 100%;



        li {

          .deals {
            color: #f03125;
            font-weight: 700;
          }

          a,
          label {
            display: block;
            text-align: left;
            padding: 0 35px;
            font-family: 'Open Sans', sans-serif;
            line-height: 47px;
            text-decoration: none;
            color: #333;
            cursor: pointer;
            font-size: 1rem;
            position: relative;
            // &:hover{
            //   height: 100%;
            // background: #e4e4e4;
            // }

          }

          label {
            &.a-label__chevron::after {
              content: '';
              position: absolute;
              display: inline-block;
              height: 10px;
              width: 10px;
              border-color: #333;
              border-style: solid;
              border-width: 1px 1px 0 0;
              @include transform(rotate(45deg));
              top: 50%;
              margin-top: -5px;
              right: 16px;
            }
          }

          .-invisible {
            border-bottom: 0;
          }

        }
      }
    }

    .m-menu .m-menu label.m-menu__toggle {
      @include flexBox();
      border-bottom: 0;
      padding: 0;
      @include box-sizing(content-box);
    }

    /* fade in checked menu */
    .m-menu__checkbox:checked {
      ~.m-menu__overlay {
        display: block;
      }

      ~.m-menu {
        @include transform(translate3d(0, 0, 0));

      }
    }
  }


  .m-menu__toggle {
    margin: 0px 18px;
    cursor: pointer;

    svg {
      position: absolute;
      margin-top: 10px;
    }

    .back {
      margin-top: -1rem;
      margin-left: -0.7rem;


    }

    .close {
      left: 86.7%;
      top: 1%;
      cursor: pointer;
    }

    span {
      font-size: 12px;
      margin-left: 4px;
      color: black;
      padding-top: 42px;
      font-family: 'Open-Sans', sans-serif;

      &:hover {
        color: red;

      }

    }
  }

  

  .header-wrapper {
    margin-left: -1rem;
    width: 102%;
    height: 94px;
    background-color: #fff;
    overflow: hidden;

    //  position: relative;

  }


  .header-brand {
    .nav-logo {
      width: 157px;
      margin-left: 5px;

    }
  }

  nav {
    align-items: center;
    height: 80px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);


  }

  .header-search {


    body {
      background-color: #eee;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
    }

    .height {
      height: 100vh;
    }

    .search {
      position: relative;
      border: none;
      outline: none;

    }

    .search input {
      height: 40px;
      text-indent: 25px;
      border: none;
      margin-left: 14px;
      width: 758px;
      background: #f0f0f0 0 0 no-repeat padding-box;
    }

    .search input:focus::-webkit-input-placeholder {
      opacity: 0;
    }


    .search input:focus {

      box-shadow: none;
      background-color: white;
      box-shadow: 0 0 16px 0 #e0e0e0;

    }

    .search .fa-search {

      position: absolute;
      top: 14px;
      left: 36.5px;
      font-size: 13px;

    }


  }

  .header-options {
    .header-trade {
      margin-left: 10px;

      a {
        text-decoration: none;
        color: black;
      }

      img {
        width: 28px;
        margin: 6px 12px;
        transform: rotate(90deg);
      }

      span {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }
    }
  }


  .account-header {
    .header-powerup {
      margin-left: 63px;

      img {
        margin-left: 35px;
        width: 33px;
      }

      span {
        font-size: 12px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
      }

      a {
        margin-top: 8px;
        display: block;
      }

    }

    .account {
      margin-left: 2.5rem;
      margin-top: 14px;

      i {
        font-size: 20px;
        color: black;
        margin-left: 14px;
        margin-bottom: 7px;
      }

      span {
        font-size: 12px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        margin-left: 5px;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  .header-cart {
    margin-top: 8px;

    span {
      font-size: 12px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      margin-left: 3px;
    }

    .cart svg {
      width: 28px;
    }
  }
}


.home-content {
  a {
    text-decoration: none;
  }

  .home-card {
    gap: 9rem;
    margin: 0px -61px;
  }

  .home-img {
    img {
      width: 121%;
      height: 100%;
    }


  }

  .center-content {
    img {
      width: 95.7%;
      margin-left: 2rem;
      height: 196px;
    }

  }

  // #card-title {
  //   margin-left: -59px;
  // }

  // #card-sub-title {
  //   margin-left: -59px;
  // }
  .card-title {
    a {
      display: block;
    }
  }

  .h-title {
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
  }

  .h-subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #625656;
    font-size: 14px;
  }
}


.to-top {
  background-color: #fff;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  z-index: 999999999999;
  color: black;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  opacity: 0;
  transition: all .3s;

  i {
    color: black;
    font-size: 17px;
  }
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}



.product-content {

  #slidero {
    margin-top: -3rem;
    margin-left: 2px !important; 
  }

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
      max-width: 273px;
    }

    a {
      margin-left: 2rem !important;
      color: black;
      font-family: 'Open Sans', sans-serif;
    }
    
  }

  .pageInfo {
    position: absolute;
    top: 130%;
    left: 91%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  .pageInfo2 {
    position: absolute;
    top: 170%;
    left: 91%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }


  .card-text {
    margin-left: -11px;
  }

  .card-box {
    margin-left: 3.5px;
  }


  // .slick-slide {
  //   margin-left: 6px !important;
  //   margin-right: -77px !important;
  // }


  .card {
    margin: 0 0.4rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 224px !important;
    height: 284px !important;
    border: none;

    &:hover {
      background: #fff;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);
    }

    img {
      width: 80%;
      padding-top: 13px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }

    .card-text {
      font-size: .875rem;
      font-weight: 600;
      color: black;
    }
  }



}

.main-content {

  margin-left: 0.778rem;

  .main-image {
    gap: 4.8rem;
    padding: 0px 49px;

    img {
      width: 116.2%;
      margin-left: -106px;
      margin-right: 20px;
      height: auto;
    }

    .mb-img {
      display: none;
    }


  }
}



.product-content2 {

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
    }

    a {
      color: black;
    }
  }

  .pageInfo2 {
    position: absolute;
    top: 228%;
    left: 91.3%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  .card-box {
    margin-left: 32.5px !important;
    gap: 0.9rem;
    margin-top: -51px !important;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 224px;
    height: 284px;

    border: none;

    &:hover {
      background: #fff;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);
    }

    img {
      width: 80%;
      padding-top: 13px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }

    .card-text {
      font-size: .875rem;
      font-weight: 600;
      color: black;
      min-width: 131px;
      margin-left: 5px;
    }

    .card-subtext {
      margin-left: 5px;
      font-size: 12px;
      margin-top: -1rem;
      color: #9b9b9b;
    }
  }
}


.product-brand {


  .heading {
    h2 {
      font-family: 'Poppins', 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 25px !important;
    }


  }

  .brand-card {
    margin-left: 1.1rem;

    a {
      width: 100%;

    }

    img {
      width: 264px;
      margin: 12.5px 12.5px;

    }
  }
}

.home-content2 {
  margin-top: 3.3px;

  a {
    text-decoration: none;
  }

  .home-card {
    gap: 9rem;
    margin: 0px -63px;
  }

  .home-img {
    img {
      width: 121.6%;
      height: 100%;
    }

    .mb-img {
      display: none !important;
    }

  }

  .center-content {
    img {
      width: 109.7%;
      margin-left: -3.9rem;
      height: 196px;
    }

    .mb-img {
      display: none;
    }

  }

  .card-title {
    a {
      display: block;
    }
  }

  .h-title {
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
  }

  .h-subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #625656;
    font-size: 14px;
  }
}

.product-content3 {
  #slider {
    display: flex;

    .slick-next {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      right: -193px !important;
      top: 56%;
      opacity: 1;

    }


    .slick-next:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;

    }

    .slick-prev {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      left: -15.5%;
      top: 56%;



    }


    .slick-prev:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;


    }

    .slick-prev:after {
      opacity: 0;
    }

  }

  // .slick-next{
  //   border: none;
  //   border-radius: 6px;
  //   z-index: 2;
  //   right: 2px !important;
  //   top: 56%;
  //   width: 40px;
  //   height: 40px;
  //   opacity: .95;
  //   color: black;
  // }
  // .slick-next:before{
  //   content: '>';
  //   width: 2.5rem;
  //   height: 2.5rem;
  //   transform: rotate(270deg);
  //   border-radius: 50%;
  //   background-position: -269px 0;
  //   background-color: #fff;
  //   border: 1px solid #000;
  //   opacity: .6
  // }
  .card-body {
    margin-left: -16px;
    margin-top: -8px;
  }

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    a {
      color: black;
    }
  }


  .card-box {
    margin-left: 35.5px;
    gap: 4.078rem !important;
    margin-top: -51px;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 224px !important;
    height: 284px !important;
    border: none;

    img {
      width: 117% !important;
      padding-top: 13px;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }

    // .card-text{
    //   font-size: 16px;
    //   font-weight: 600;
    //   color: black;
    // }

    .card-subtext {
      font-size: 12px;
      margin-top: -1rem;
      color: #9b9b9b;
    }
  }
}



.top-deals {
  margin-top: 40px;
  margin-left: 3.778rem;

  .heading-text h2 {
    font-family: Poppins, Open Sans, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 13px;
  }

  .main-image {
    gap: 2rem !important;

    .mb-img {
      display: none !important;
    }

    img {

      width: 696px;
      margin-left: -24px;
      margin-right: 20px;
      height: auto;
    }

  }



  #slider1 {
    display: flex;

    .slick-next {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      right: -193px !important;
      top: 56%;
      opacity: 1;
    }

    .slick-next:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;

    }

    .slick-prev {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      left: -15.5%;
      top: 56%;

    }

    .slick-prev:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;


    }

    .slick-prev:after {
      opacity: 0;
    }

  }

  .card-body {
    margin-left: -16px;
    margin-top: -8px;
  }

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    a {
      color: black;
    }
  }


  .card-box {
    margin-left: -24.5px;
    gap: 4.078rem !important;
    margin-top: -51px;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 276px !important;
    height: 284px !important;
    border: none;

    img {
      width: 122% !important;
      padding-top: 13px;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }

    // .card-text{
    //   font-size: 16px;
    //   font-weight: 600;
    //   color: black;
    // }

    .card-subtext {
      font-size: 12px;
      margin-top: -1rem;
      color: #9b9b9b;
    }
  }
}



.product-content4 {

  .pageInfo3 {
    position: absolute;
    top: 170%;
    left: 91%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  #slider2 {
    display: flex;

    // .slick-next {

    //   outline: none;
    //   width: 440px;
    //   height: 440px;
    //   border: none;
    //   border-radius: 6px;
    //   z-index: 2;
    //   right: -193px !important;
    //   top: 56%;
    //   opacity: 1;

    // }


    // .slick-next:before {
    //   color: #E5E3DA;
    //   width: 440px;
    //   height: 440px;
    //   font-size: 34.5px;

    // }

    // .slick-prev {

    //   outline: none;
    //   width: 440px;
    //   height: 440px;
    //   border: none;
    //   border-radius: 6px;
    //   z-index: 2;
    //   left: -15.5%;
    //   top: 56%;



    // }


    // .slick-prev:before {
    //   color: #E5E3DA;
    //   width: 440px;
    //   height: 440px;
    //   font-size: 34.5px;


    // }

    // .slick-prev:after {
    //   opacity: 0;
    // }
    .slick-slide {
      margin-left: 9px !important;
      margin-right: -34px !important;
    }

  }

  .card-body {
    width: 200px !important;
    margin-left: 4px;
    margin-top: -8px;
  }

  margin-top: 15px;

  .heading {
    span {
      display: block;
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
    }

    a {
      color: black;
    }
  }


  .card-box {
    margin-left: 25.5px;
    margin-top: -30px;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 211.8px !important;
    height: 295px !important;
    border: none;

    &:hover {
      background: #fff;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);

    }


    img {
      width: 85% !important;
      padding-top: 13px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      line-height: 1.2;
      font-size: .875rem;
      font-family: 'Open Sans', sans-serif;
    }

  }
}



.featured-categories {
  .amp-card {
    margin-bottom: -12px !important;
  }

  p {
    margin-left: 15px;
    font-size: 16px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 600;
    margin-top: -7px;
  }

  .heading {
    h2 {
      font-family: 'Poppins', 'Open Sans', sans-serif;
      font-size: 24px !important;
      font-weight: bold;
    }


  }

  .category-card {
    margin-left: 1.7rem;

    a {
      width: 100%;
      text-decoration: none;
    }

    img {
      width: 264px;
      margin: 12.5px 12.5px;

    }
  }
}


.bottom-content {
  margin-top: 35px;

  h2 {
    font-size: 16px;
  }

  .text {
    text-align: center;
    line-height: 0.5rem;
  }
}

footer {

  .footer-item {
    margin-left: -1.3rem;
    gap: 2rem;
  }

  .content {
    padding: 0 25px;
  }

  .footer-copyright {
    margin-left: -4px;
    margin-bottom: 27px;
  }

  ul {
    padding: 0rem !important;
  }

  a {
    text-decoration: none;

  }

  li {
    list-style-type: none;

    a {
      font-size: 14px;
      font-weight: 400;
      color: #121212;

      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }

  .title {

    display: block;

    h5 {
      text-transform: uppercase;
      cursor: pointer;
      font-size: 16px;
      color: black;
      font-family: 'Poppins', sans-serif;
    }
  }

  .footer-social {

    .footer-signup input {
      height: 40px;
      text-indent: 2px;
      border: none;
      border-radius: 0px !important;
      margin-left: 14px;
      width: 758px;
      background: #f0f0f0 0 0 no-repeat padding-box;
    }

    .footer-signup input:focus::-webkit-input-placeholder {
      opacity: 0;
    }


    .footer-signup input:focus {

      box-shadow: none;
      background-color: white;
      box-shadow: 0 0 16px 0 #e0e0e0;

    }


    .footer-signup {
      p {
        margin-left: 15px;
      }

      .input-group {
        background-color: red;
        text-align: center;
        display: block;
        width: 245px !important;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        button {
          font-weight: bold;
          color: white;
          font-size: 14px;

          &:hover {
            color: black !important;
          }


        }
      }

      .ftr-title {
        h5 {
          font-size: 16px;
          font-family: Poppins, Open Sans, sans-serif;
          font-style: normal;
          font-weight: 600 !important;
          text-transform: uppercase;
          font-weight: 600;
          margin-left: 14px;
        }
      }

      p {
        font-size: 13px;
      }
    }
  }

  .content-app {
    #app-title {
      h5 {
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-family: Poppins, Open Sans, sans-serif;
        margin-left: 10px;
        margin-left: 15px;
        margin-top: 19px;
      }
    }

  }

  .app {
    display: flex;
    gap: 0.6rem;
    margin-left: 14px;

  }

  a img {
    width: 137px !important;
    height: 42px !important;
  }



  .footer-social-spacer {
    margin-top: 1.5rem;

    .footer-icon {
      margin-left: 1rem;
      display: flex;
      gap: 0.4rem;
    }

    h5 {
      font-size: 16px;
      font-family: Poppins, Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600 !important;
      text-transform: uppercase;
      font-weight: 600;
      margin-left: 14px;
      margin-top: 15px;
    }

    .icon {
      vertical-align: middle;
      width: 32px !important;
      height: 32px !important;
      display: inline-table;
    }

    a {
      padding-left: 1rem;
    }

    .icon-facebook {
      background: url("https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/facebook.svg") no-repeat 0 0;
    }

    .icon-twitter {
      background: url('https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/twitter.svg');
    }

    .icon-youtube {
      background: url('https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/youtube.svg');
    }

    .icon-instagram {
      background: url('https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/instagram.svg');
    }

  }

  .footer-subtext {
    margin-top: 20px;
    margin-left: -2px;

    .content-text {
      display: flex;
    }

    .footer-country-list {
      display: flex;
      margin-left: 6.6rem;

      li {
        &:after {
          content: "|";
          margin: 0 5px;
        }
      }
    }

    .country {
      &:hover {
        cursor: pointer;
        color: #e7230d;
        text-decoration: underline;
      }
    }

    .country:last-child:after {
      content: "";
    }

  }

  #hr {
    border-top: 1px solid rgb(241 238 238);
    display: inline-block;
    width: 1500px;
    margin-top: 105px;
    margin-bottom: 20px;
  }

}

.mb-home-content {
  display: none;
}

.mb-product-content2 {
  display: none;
}

@media (max-width: 576px) {

  html {
    overflow-x: hidden;
  }
  


  .header-banner {
    background-color: #282828;

    .navbar-toggler {
      display: none;
    }

    .shopping {
      display: none;
    }

    .check-order {
      display: none;
    }

    .navbar-brand {
      margin-left: auto;
      margin-right: auto;
      margin-top: -1rem;
    }
  }

  .promo-header {
    .text {
      font-size: 14.8px;
      font-family: 'Open Sans', sans-serif;
    }

  }



  .header-wrapper {
    box-shadow: 0 2px 2px rgb(0 0 0 / 15%);

    nav {
      height: 98.5px;

    }

    #m-menu {
      display: none !important;
    }

    .m-menu__toggle {
      svg {
        width: 5.8% !important;
        margin-top: -40px !important;
        margin-left: -12px;
      }
    }

    .nav-logo {
      width: 105px !important;
      margin-left: 2px !important;
      margin-top: -53px;
    }

    .header-options {
      display: none !important;
    }

    .powerup {
      display: none;
    }

    .header-search {
      .search {
        top: 2%;
        left: -22%;

        input {
          border-radius: 0px !important;
          margin-left: -97px;
          width: 350px;
        }
      }

      .fa-search {
        top: 13px !important;
        left: -77.5px !important;
        font-size: 11.7px !important;
      }
    }

    .account-header {
      margin-left: 1rem;

      .account {
        margin-left: -9.5rem;
        margin-top: -48px;
      }

      .user {
        margin-top: -6px;

        span {
          position: relative;
          left: -35%;
          font-weight: 600;
        }

        display: flex !important;

      }

      .account i {
        margin-left: 11px;
        margin-bottom: -17px;
        display: flex;
        font-size: 14px;
      }
    }

    .header-cart {
      #cart {
        display: none;
      }

      .cart {
        svg {
          margin-left: -7rem;
          margin-top: -50px;
          width: 86.5%;
        }
      }
    }

  }

  .home-content {
    display: none;
  }


  .mb-home-content {
    display: block;

    a {
      text-decoration: none;
    }

    .home-card {
      gap: 1rem;
      margin: 16px 1px;
    }

    .home-img {
      img {
        max-width: 100%;
        height: 100%;
      }

    }

    .center-content {
      img {
        width: 93.9%;
        margin-left: 0.7rem;
      }

    }

    #card-title {
      margin-left: -59px;
    }

    #card-sub-title {
      margin-left: -59px;
    }

    .card-title {
      a {
        display: block;
      }
    }

    .h-title {
      width: 160px;
      margin-top: 5px;
      margin-bottom: 6px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      color: #000000;
    }

    .h-subtitle {
      font-family: 'Open Sans', sans-serif;
      color: #625656;
      font-size: 14px;
    }
  }


  .main-content {
    overflow-x: hidden !important;

    .main-image {
      gap: 0rem !important;
      padding: 0 0px !important;

    }

    .mb-img a {
      img {
        width: 96.5% !important;
        margin-left: 1px !important;

      }

    }

  }

  .product-content {


    #slidero {
      width: 365px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      margin-left: 25px;
    }

    .card-box>div {
      scroll-snap-align: start;
    }

    .heading {
      display: flex;

      h2 {
        font-size: 16px;
        text-align: left;
        min-width: 194px;
        padding-left: 14px;
      }

      a {
        margin-left: 7rem;
        margin-top: 6px;
        font-family: 'Open Sans', sans-serif;
      }
    }

    .card {
      width: 158px !important;
      margin-bottom: 0rem !important;
      flex-shrink: 0;
      height: 100%;

      img {
        width: 90% !important;
      }

      &:hover {
        background: none !important;
        box-shadow: none !important;
      }
    }

    .pageInfo {
      display: none;
    }

  }

  .main-content {

    // img{
    //   width: 351px;
    //   height: 351px;
    //   margin-left: -41px;
    // }


    .h-img {
      display: none;
    }



    .mb-img {
      display: block !important;

      img {
        width: 186.5% !important;
        margin-left: -126px !important;
        margin-right: 20px;
        margin-top: 1rem;
        height: auto;
      }
    }
  }

  .product-content2 {
   
    .pageInfo2{
      display: none;
    }


    .card-body{
      .card-text{
        margin-left: 11px;
      }
    }
    .card-box {
      margin-left: 7.5px !important;

      gap: 0.59rem;
      margin-top: -49px;
    }

    #hardware {
      width: 350px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
   
    }

    .card {
      width: 158px !important;
      margin-bottom: 0rem !important;
      flex-shrink: 0;
      height: 100%;

      img {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-left: 27px;
      }

      &:hover {
        background-color: none;
        box-shadow: none;
      }
    }

    .heading {
      display: flex;

      h2 {
        font-size: 16px;
        text-align: left;
        min-width: 194px;
        padding-left: 14px;
      }

      a {
        margin-left: 7rem;
        margin-top: 6px;
        color: black;
        font-family: 'Open Sans', sans-serif;
      }

      img {
        width: 90%;
        padding-top: 13px;
        display: block;
      }

      .card-text {
        font-size: .875rem;
        font-weight: 600;
        max-width: 134px;
        color: black;
      }

      .card-subtext {
        font-size: 12px;
        margin-top: -1rem;
        color: #9b9b9b;
      }
    }

  }


  .product-brand {
    .heading {
      h2 {
        font-size: 16px !important;
        padding-left: 14px;
        text-align: left;
        font-weight: 500;
      }
    }

    .br-card {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 180px;
      }
    }

    .brand-card {
      display: flex;

      margin-right: 0.6rem;
      margin-left: 0rem;
    }

    .amp-card {
      margin: 0 0 -12px;
      width: 50%;
      max-width: 220px;

      img {
        width: 170px;
      }
    }
  }

  .home-content2 {

    .h-img {
      display: none;
    }

    .mb-img {
      display: block;
    }

    .home-card {
      gap: 3.5rem !important;
      margin: 13px 1px;
      // padding-right: 301px;
    }

    .mb-img {
      //   height: auto !important;
      display: block !important;
      //   margin-left: 0rem !important;
      //  width: 102%;
    }

    .home-img {
      height: auto !important;

      .mb-img {
        display: block !important;
        width: 169px;
        height: 167px;
        margin-right: -41px !important;
      }

    }

    .center-content {
      img {

        width: 100%;
        height: auto;
        margin-left: 0rem;
      }
    }
  }

  .product-content3 {
    #slider {
      margin-left: 0.9rem;
      display: flex;
      width: 350px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
  
      .slick-next {
  
        outline: none;
        width: 440px;
        height: 440px;
        border: none;
        border-radius: 6px;
        z-index: 2;
        right: -193px !important;
        top: 56%;
        opacity: 1;
  
      }
  
  
      .slick-next:before {
        color: #E5E3DA;
        width: 440px;
        height: 440px;
        font-size: 34.5px;
  
      }
  
      .slick-prev {
  
        outline: none;
        width: 440px;
        height: 440px;
        border: none;
        border-radius: 6px;
        z-index: 2;
        left: -15.5%;
        top: 56%;
  
  
  
      }
  
  
      .slick-prev:before {
        color: #E5E3DA;
        width: 440px;
        height: 440px;
        font-size: 34.5px;
  
  
      }
  
      .slick-prev:after {
        opacity: 0;
      }
  
    }

    

   
  
    // .slick-next{
    //   border: none;
    //   border-radius: 6px;
    //   z-index: 2;
    //   right: 2px !important;
    //   top: 56%;
    //   width: 40px;
    //   height: 40px;
    //   opacity: .95;
    //   color: black;
    // }
    // .slick-next:before{
    //   content: '>';
    //   width: 2.5rem;
    //   height: 2.5rem;
    //   transform: rotate(270deg);
    //   border-radius: 50%;
    //   background-position: -269px 0;
    //   background-color: #fff;
    //   border: 1px solid #000;
    //   opacity: .6
    // }
    .card-body {
      margin-left: -16px;
      margin-top: -8px;
    }
  
    margin-top: 15px;
  
    .heading {
      display: flex;

      h2 {
        font-size: 14px;
        text-align: left;
        min-width: 194px;
        padding-left: 14px;
        font-weight: bold;
        font-family: 'Poppins','Open Sans',sans-serif;
      }

    }
  
  
    .card-box {
      margin-left: 35.5px;
      // gap: 4.078rem !important;
      margin-top: -51px;
    }
  
    .card {
      flex-shrink: 0;
      height: 100%;
      margin-top: 3.5rem;
      margin-bottom: 2rem;
      width: 96px !important;
      height: 284px !important;
      border: none;
  
      img {
        width: 145px !important;
        padding-top: 13px;
        display: block;
      }
  
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
      }
  
      // .card-text{
      //   font-size: 16px;
      //   font-weight: 600;
      //   color: black;
      // }
  
      .card-subtext {
        font-size: 12px;
        margin-top: -1rem;
        color: #9b9b9b;
      }
    }
  }

  .top-deals {
    margin-top: -34px;


    #slider1 {
      margin-left: -3.1rem;
      display: flex;
      width: 350px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
    }

    .card {
      flex-shrink: 0;
      height: 100%;
      margin-top: 3.5rem;
      margin-bottom: 2rem;
      width: 96.5px !important;
      height: 284px !important;
      border: none;
  
      img {
        width: 145px !important;
        padding-top: 13px;
        display: block;
      }
  
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
      }
  
      // .card-text{
      //   font-size: 16px;
      //   font-weight: 600;
      //   color: black;
      // }
  
      .card-subtext {
        font-size: 12px;
        margin-top: -1rem;
        color: #9b9b9b;
      }
    }


    .heading-text {
      h2 {
        font-size: 16px;
        text-align: left;
        margin-left: -3.1rem;
        margin-bottom: -11px;
        font-weight: 600;
      }
    }

    .mb-img {
      margin-left: -49px;
    }

    .h-img {
      display: none;
    }

    .main-image {
      gap: 1rem !important;
      flex-wrap: wrap;

      .mb-img {
        display: block !important;
      }

      img {
        width: 112%;
        margin-left: -49px;
      }
    }
  }
  
  .product-content4{
    #slider2 {
      margin-left: -0.1rem;
      margin-top: -3rem;
      display: flex;
      width: 320px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
    }

    .card-body{
      .card-text{
        font-size: 13px;
        font-family: 'Open Sans',sans-serif;
        line-height: 17px;
        max-width: 128px;     
        margin-left: -10px; 
        width: 100%;
      }
    }

    .heading {
      display: flex;

      span {
        font-size: 16px;
        text-align: left;
        min-width: 194px;
        padding-left: 14px;
      }

      a {
        margin-left: 7rem;
        margin-top: 6px;
        color: black;
        font-family: 'Open Sans', sans-serif;
      }

      

      .card-text {
        font-size: .875rem;
        font-weight: 600;
        max-width: 134px;
        color: black;
      }

      .card-subtext {
        font-size: 12px;
        margin-top: -1rem;
        color: #9b9b9b;
      }
    }

    .pageInfo3{
      display: none !important;
    }

    .card {
      flex-shrink: 0;
      height: 100%;
      margin-top: 3.5rem;
      margin-bottom: 2rem;
      width: 155.5px !important;
      height: 284px !important;

    

      &:hover {
        background-color: none;
        box-shadow: none;
      }

      img {
        width: 94% !important;
        padding-top: 13px;
        display: block;
      }
      
    }
  }

  .featured-categories {
    .category-card {
      margin-left: 0rem;
      margin-right: 10px;
    }

    .heading {
      h2 {
        font-size: 16px !important;
        text-align: left;
        margin-left: 0.8rem;
        font-weight: normal !important;
      }
    }

    .amp-card:last-child {
      margin-left: auto;
      margin-right: auto;
    }

    .amp-card {
      width: 50%;
      margin-bottom: -15px !important;

      .card-title {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
      }

      img {
        width: 167.5px;
      }
    }
  }

  .bottom-content {
    .text {
      p {
        line-height: 18px;
        max-width: 349px;
      }
    }
  }

  footer {
    #h-item {
      display: none;
    }

    #h-signup {
      display: none;
    }

    a img {
      width: 120px !important;
      height: 40px !important;
    }

    .footer-icon a {
      width: 32px !important;
      height: 32px !important;
    }

    .footer-copyright {
      span {
        font-size: 14px;
        position: relative;
        top: 123%;
        left: 13%;
        font-family: 'Open Sans', sans-serif;
      }
    }

    .footer-country-list {
      line-height: 25px;
      max-width: 326px;
      margin-left: -8.4rem !important;
      flex-wrap: wrap;

      li {
        font-size: 14px;

        &:after {
          margin: 0px 9px !important;
        }
      }
    }

    .footer-subtext {
      margin-bottom: 35px;
    }

    .mb-signup {
      display: block;
      margin-bottom: 25px;
      margin-left: -0.2rem;

      .footer-signup input {
        height: 40px;
        text-indent: 2px;
        border: none;
        border-radius: 0px !important;
        margin-left: 14px;
        width: 758px;
        background: #f0f0f0 0 0 no-repeat padding-box;
      }

      .footer-signup input:focus::-webkit-input-placeholder {
        opacity: 0;
      }


      .footer-signup input:focus {

        box-shadow: none;
        background-color: white;
        box-shadow: 0 0 16px 0 #e0e0e0;

      }


      .footer-signup {
        p {
          margin-left: 15px;
        }

        input {
          width: 597px;
        }

        .mb-2 {
          font-size: 12px;
          font-family: 'Open-Sans', sans-serif;
          font-weight: 400;
        }

        .input-group {
          background-color: red;
          text-align: center;
          margin-right: 18px;
          display: block;
          width: 245px !important;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;

          button {
            font-weight: bold;
            color: white;
            font-size: 14px;

            &:hover {
              color: black !important;
            }


          }
        }

        .ftr-title {
          h5 {
            font-size: 16px;
            font-family: Poppins, Open Sans, sans-serif;
            font-style: normal;
            font-weight: 600 !important;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 14px;
          }
        }

        p {
          font-size: 13px;
        }
      }
    }

    .accordion-item {
      border: none;
      border-top: 1px solid #d9d9d9 !important;

      &:last-child {
        border-bottom: 1px solid #d9d9d9 !important;
      }
    }

    .accordion-button::after {
      content: '+' !important;
      background-image: none;
      font-size: 32px;
      position: absolute;
      left: 91%;
      top: 7%;
    }

    .accordion-item:first-of-type {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .accordion-item:last-of-type .accordion-button.collapsed {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .accordion-button:not(.collapsed)::after {
      background-image: none;
      transform: none;
      content: "-" !important;
      font-size: 32px;
      position: absolute;
      left: 92.5%;
      top: 7%;
    }

    .accordion-button:focus {
      border-color: none !important;
      box-shadow: none;
      background-color: none;
    }

    .accordion-button:not(.collapsed) {
      color: black;
      background-color: white !important;
    }

    .accordion-header {
      button {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        padding-left: 12px;
      }

    }

    #app-title {
      h5 {
        margin-left: 10.5px !important;

      }
    }

    .app {
      margin-left: 11px;
      margin-top: 12px;
      display: block;
    }

  }


  .to-top {
    right: 7px;

  }

  .to-top.active {
    bottom: 11px !important;
  }

}