* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;

}

.zippo {

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999;
}


.header-banner {
  nav {
    background-color: rgb(34, 34, 34) !important;
    height: 40px;

    .navbar-brand {
      color: white;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
    }

    .text-right {
      margin-bottom: 4px;

      a {
        color: #ffffff;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }

      i {
        padding: 0 4px;
        font-size: 13px;
      }

      .check-order {
        margin-right: 2.5rem;
      }
    }
  }




  a {
    text-decoration: none;
  }
}

.promo-header {
  background-color: #F9BC02;
  height: 50px;

  .text {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    a {
      text-decoration: none;
      color: black;
    }

    p {
      padding: 4px 0px;
      text-align: center;
    }

    .price {
      p {

        margin-left: auto;
        margin-right: auto;
        margin-top: -29px;
      }
    }

    :hover {
      text-decoration: underline;
      color: black;
      cursor: pointer;
    }

  }



}

#m-menu2 {

  height: 1184px;
}


.main-header {


  #menu1::-webkit-scrollbar {
    display: none;
  }

  .menu-ul-1 {
    padding: 10px 0px 10px 10px;
    margin-left: -18px;


  }

  #menu1 {
    background-color: rgb(251 251 251);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
  }



  .menu-ul {
    list-style-type: none;
    background-color: rgb(251 251 251);
    margin-left: -18px;
    padding: 10px 0px 10px 10px;





    a,
    label {
      display: block;
      text-align: left;
      padding: 0 35px;
      line-height: 47px;
      text-decoration: none;
      color: #333;
      cursor: pointer;
      font-size: 1rem;
      position: relative;

      &:hover {
        height: 100%;
        background: #e4e4e4;
      }

    }


    label {
      background-color: rgb(251 251 251);
      width: 100%;

    }

    li {
      background-color: rgb(251 251 251) !important;
      width: 100% !important;
    }
  }



  #m-menu2 {

    .menu-ul:target {
      display: none !important;
    }

    ul {
      list-style-type: none;
      background-color: rgb(251 251 251);
    }

    .m-menu__header {
      &:hover {
        stroke: red;
        color: red;
      }

      height: 62px;
      background-color: white;

      // position: sticky;
      // top: 0;
      // left: 0;
      // z-index: 99999999999999;


    }



    .prev {
      margin-left: -4px;
    }
  }

  /* Mixin */
  @mixin flexBox() {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }

  @mixin align-items($align) {
    -webkit-align-items: $align;
    align-items: $align;
  }

  @mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
  }

  @mixin box-sizing($border-box) {
    -webkit-box-sizing: $border-box;
    -moz-box-sizing: $border-box;
    box-sizing: $border-box;
  }

  @mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
  }

  @mixin translate ($x, $y) {
    @include transform(translate($x, $y));
  }

  @mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
  }

  body {
    background-color: #f1f1f1;

  }


  nav {


    background-color: white;
    height: 50px;
    padding: 0 16px;
    @include flexBox();
    @include align-items(center);

    .m-menu__checkbox {
      display: none;
    }


    span {
      &:hover {
        color: red;
      }
    }

    .m-menu::-webkit-scrollbar {
      display: none;
    }

    .m-menu {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 375px;
      width: calc(100vw - 30px);
      height: 100%;
      @include transform(translate3d(-450px, 0, 0));
      @include transition(transform 0.35s);
      z-index: 1;
      overflow: hidden;
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */
      scrollbar-width: none;
      background-color: #fff;

      &__overlay {
        background-color: hsl(0deg 0% 5% / 50%);
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        z-index: 1;
        display: none;
      }

      hr {

        border-top: 1px solid #0c0808;
        width: 400px;
        margin-left: -2rem;
      }

      .hr {
        border-top: 1px solid #ccc;
        display: inline-block;
        width: 326px;
        margin: 0 33px;
        margin-bottom: 10px;
      }


      &__header {
        padding: 0 16px;
        height: 50px;
        @include flexBox();
        @include justify-content(space-around);
        @include align-items(center);
        border-bottom: 1px solid #e8e8e8;

        span {
          font-size: 14px;
          font-weight: bold;
          width: 100%;
          margin-left: -28px;
        }
      }

      .category-header {
        background-color: rgb(251 251 251);
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 17px 28px;
        color: #000000;
      }

      .category-header2 {
        background-color: rgb(251 251 251);
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 17px 34px;
        color: #000000;
      }



      .category-games {
        margin-left: 17px;

        a {
          background-color: rgb(251 251 251);
          font-size: 20px;
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          padding: 0px 17px;
          color: #000000;
        }
      }

      .content-support {
        // border-top: 15px;
        background-color: rgb(251 251 251);
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 17px 34px;
        color: #000000;
      }

      .content-explore {
        background-color: rgb(251 251 251);
      }

      .new-releases {
        border-top: 1px solid #ccc;
      }




      #menu-header {
        background-color: white;
        height: 4rem;
        // position: -webkit-sticky; 
        // position: sticky;
        // top: 0;
        // z-index: 999999999999;

      }


      .m-menu {
        @include transform(translate3d(480px, 0, 0));

      }

      .store-container {
        background-color: rgb(251 251 251);

        a {
          &:hover {
            color: #e7230d;
          }
        }

        .store-icon {
          i {
            margin-left: -3rem;
            margin-top: 0.8rem;
          }

        }
      }

      .store-header {
        padding: 4px 0;
        background-color: rgb(251 251 251);
        border-bottom: 1px solid #ccc;
        padding-left: 25px;

        .store-name {
          font-size: 14px;
          font-weight: 700;
          padding: 0 100px 0 0;
          font-family: 'Open Sans', sans-serif;
        }

        .store-time {
          font-size: 12px;
          font-family: 'Open Sans', sans-serif;
        }
      }

      ul {
        height: 100%;



        li {

          .deals {
            color: #f03125;
            font-weight: 700;
          }

          a,
          label {
            display: block;
            text-align: left;
            padding: 0 35px;
            font-family: 'Open Sans', sans-serif;
            line-height: 47px;
            text-decoration: none;
            color: #333;
            cursor: pointer;
            font-size: 1rem;
            position: relative;
            // &:hover{
            //   height: 100%;
            // background: #e4e4e4;
            // }

          }

          label {
            &.a-label__chevron::after {
              content: '';
              position: absolute;
              display: inline-block;
              height: 10px;
              width: 10px;
              border-color: #333;
              border-style: solid;
              border-width: 1px 1px 0 0;
              @include transform(rotate(45deg));
              top: 50%;
              margin-top: -5px;
              right: 16px;
            }
          }

          .-invisible {
            border-bottom: 0;
          }

        }
      }
    }

    .m-menu .m-menu label.m-menu__toggle {
      @include flexBox();
      border-bottom: 0;
      padding: 0;
      @include box-sizing(content-box);
    }

    /* fade in checked menu */
    .m-menu__checkbox:checked {
      ~.m-menu__overlay {
        display: block;
      }

      ~.m-menu {
        @include transform(translate3d(0, 0, 0));

      }
    }
  }


  .m-menu__toggle {
    margin: 0px 18px;
    cursor: pointer;

    svg {
      position: absolute;
      margin-top: 10px;
    }

    .back {
      margin-top: -1rem;
      margin-left: -0.7rem;


    }

    .close {
      left: 86.7%;
      top: 1%;
      cursor: pointer;
    }

    span {
      font-size: 12px;
      margin-left: 4px;
      color: black;
      padding-top: 42px;
      font-family: 'Open-Sans', sans-serif;

      &:hover {
        color: red;

      }

    }
  }

  .header-wrapper {
    height: 94px;
    background-color: #fff;
    overflow: hidden;
    position: relative;


    //  position: relative;

  }


  .header-brand {
    .nav-logo {
      width: 157px;
      margin-left: 5px;

    }
  }

  nav {
    align-items: center;
    height: 80px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);


  }

  .header-search {


    body {
      background-color: #eee;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
    }

    .height {
      height: 100vh;
    }

    .search {
      position: relative;
      border: none;
      outline: none;

    }

    .search input {
      height: 40px;
      text-indent: 25px;
      border: none;
      margin-left: 14px;
      width: 758px;
      background: #f0f0f0 0 0 no-repeat padding-box;
    }

    .search input:focus::-webkit-input-placeholder {
      opacity: 0;
    }


    .search input:focus {

      box-shadow: none;
      background-color: white;
      box-shadow: 0 0 16px 0 #e0e0e0;

    }

    .search .fa-search {

      position: absolute;
      top: 14px;
      left: 36.5px;
      font-size: 13px;

    }


  }

  .header-options {
    .header-trade {
      margin-left: 10px;

      a {
        text-decoration: none;
        color: black;
      }

      img {
        width: 28px;
        margin: 6px 12px;
        transform: rotate(90deg);
      }

      span {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }
    }
  }


  .account-header {
    .header-powerup {
      margin-left: 63px;

      img {
        margin-left: 35px;
        width: 33px;
      }

      span {
        font-size: 12px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
      }

      a {
        margin-top: 8px;
        display: block;
      }

    }

    .account {
      margin-left: 2.5rem;
      margin-top: 14px;

      i {
        font-size: 20px;
        color: black;
        margin-left: 14px;
        margin-bottom: 7px;
      }

      span {
        font-size: 12px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        margin-left: 5px;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  .header-cart {
    margin-top: 8px;

    span {
      font-size: 12px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      margin-left: 3px;
    }

    .cart svg {
      width: 28px;
    }
  }
}


.home-content {
  a {
    text-decoration: none;
  }

  .home-img {
    .img1 {
      width: 109%;
      margin-left: -3.65rem;
    }

    .img2 {
      width: 109%;
    }
  }

  .center-content {
    img {
      width: 109%;
      margin-left: -3.6rem;
      height: 196px;
    }

  }

  #card-title {
    margin-left: -59px;
  }

  #card-sub-title {
    margin-left: -59px;
  }

  .card-title {
    margin-top: 5px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
  }

  .card-sub-title {
    margin-top: 6.5px;
    font-family: 'Open Sans', sans-serif;
    color: #625656;
    font-size: 14px;
  }
}

.product-content {

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
    }

    a {
      color: black;
    }
  }

  .pageInfo {
    position: absolute;
    top: 130%;
    left: 91%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  .pageInfo2 {
    position: absolute;
    top: 170%;
    left: 91%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  .card-box {
    margin-left: 31px;
    gap: 1.3rem;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 224px;
    height: 284px;

    border: none;

    &:hover {
      background: #fff;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);
    }

    img {
      width: 80%;
      padding-top: 13px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }

    .card-text {
      font-size: .875rem;
      font-weight: 600;
      color: black;
    }
  }
}

.main-content {

  margin-left: 0.778rem;

  .main-image {
    gap: 4.3rem;
    padding: 0px 52px;

    img {
      width: 107%;
      margin-left: -30px;
      margin-right: 20px;
      height: auto;
    }


  }
}



.product-content2 {

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
    }

    a {
      color: black;
    }
  }

  .pageInfo2 {
    position: absolute;
    top: 228%;
    left: 91.3%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  .card-box {
    margin-left: 31.5px;
    gap: 0.9rem;
    margin-top: -24px;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 224px;
    height: 284px;

    border: none;

    &:hover {
      background: #fff;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, .16);
    }

    img {
      width: 80%;
      padding-top: 13px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }

    .card-text {
      font-size: .875rem;
      font-weight: 600;
      color: black;
    }

    .card-subtext {
      font-size: 12px;
      margin-top: -1rem;
      color: #9b9b9b;
    }
  }
}


.product-brand {


  .heading {
    h2 {
      font-family: 'Poppins', 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 25px !important;
    }


  }

  .brand-card {
    margin-left: 1.1rem;

    a {
      width: 100%;

    }

    img {
      width: 264px;
      margin: 12.5px 12.5px;

    }
  }
}

.home-content2 {

  margin-top: 4px;

  .card-box {

    width: 100%;
    margin-left: 30px;
    margin-right: 5px;

    img {
      width: 96.5%;

      height: auto;
    }
  }

  a {
    text-decoration: none;
  }


  .card-title {
    margin-left: 4px;
    margin-top: 5px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
  }

  .card-sub-title {
    margin-top: 6.5px;
    font-family: 'Open Sans', sans-serif;
    color: #625656;
    font-size: 14px;
    margin-left: 4.3px;
  }

  .bottom-content {
    img {
      width: 96.2%;
      margin-left: 31px;
    }
  }
}



.product-content3 {
  #slider {
    display: flex;

    .slick-next {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      right: -193px !important;
      top: 56%;
      opacity: 1;

    }


    .slick-next:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;

    }

    .slick-prev {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      left: -15.5%;
      top: 56%;



    }


    .slick-prev:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;


    }

    .slick-prev:after {
      opacity: 0;
    }

  }

  // .slick-next{
  //   border: none;
  //   border-radius: 6px;
  //   z-index: 2;
  //   right: 2px !important;
  //   top: 56%;
  //   width: 40px;
  //   height: 40px;
  //   opacity: .95;
  //   color: black;
  // }
  // .slick-next:before{
  //   content: '>';
  //   width: 2.5rem;
  //   height: 2.5rem;
  //   transform: rotate(270deg);
  //   border-radius: 50%;
  //   background-position: -269px 0;
  //   background-color: #fff;
  //   border: 1px solid #000;
  //   opacity: .6
  // }
  .card-body {
    margin-left: -16px;
    margin-top: -8px;
  }

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    a {
      color: black;
    }
  }


  .card-box {
    margin-left: 35.5px;
    gap: 4.078rem !important;
    margin-top: -51px;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 224px !important;
    height: 284px !important;
    border: none;

    img {
      width: 117% !important;
      padding-top: 13px;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }

    // .card-text{
    //   font-size: 16px;
    //   font-weight: 600;
    //   color: black;
    // }

    .card-subtext {
      font-size: 12px;
      margin-top: -1rem;
      color: #9b9b9b;
    }
  }
}

.top-deals {
  margin-top: 40px;
  margin-left: 3.778rem;

  .heading-text h2 {
    font-family: Poppins, Open Sans, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 13px;
  }

  .main-image {
    gap: 2rem !important;

    img {

      width: 696px;
      margin-left: -24px;
      margin-right: 20px;
      height: auto;
    }

  }



  #slider1 {
    display: flex;

    .slick-next {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      right: -193px !important;
      top: 56%;
      opacity: 1;
    }

    .slick-next:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;

    }

    .slick-prev {

      outline: none;
      width: 440px;
      height: 440px;
      border: none;
      border-radius: 6px;
      z-index: 2;
      left: -15.5%;
      top: 56%;

    }

    .slick-prev:before {
      color: #E5E3DA;
      width: 440px;
      height: 440px;
      font-size: 34.5px;


    }

    .slick-prev:after {
      opacity: 0;
    }

  }

  .card-body {
    margin-left: -16px;
    margin-top: -8px;
  }

  margin-top: 15px;

  .heading {
    h2 {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    a {
      color: black;
    }
  }


  .card-box {
    margin-left: -24.5px;
    gap: 4.078rem !important;
    margin-top: -51px;
  }

  .card {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 276px !important;
    height: 284px !important;
    border: none;

    img {
      width: 122% !important;
      padding-top: 13px;
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }

    // .card-text{
    //   font-size: 16px;
    //   font-weight: 600;
    //   color: black;
    // }

    .card-subtext {
      font-size: 12px;
      margin-top: -1rem;
      color: #9b9b9b;
    }
  }
}