* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-banner nav {
  background-color: rgb(34, 34, 34) !important;
  height: 40px;
}
.header-banner nav .navbar-brand {
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.header-banner nav .text-right {
  margin-bottom: 4px;
}
.header-banner nav .text-right a {
  color: #ffffff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.header-banner nav .text-right i {
  padding: 0 4px;
  font-size: 13px;
}
.header-banner nav .text-right .check-order {
  margin-right: 2.5rem;
}
.header-banner a {
  text-decoration: none;
}

.promo-header {
  background-color: #F9BC02;
  height: 50px;
}
.promo-header .text {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.promo-header .text a {
  text-decoration: none;
  color: black;
}
.promo-header .text p {
  padding: 4px 0px;
  text-align: center;
}
.promo-header .text .price p {
  margin-left: auto;
  margin-right: auto;
  margin-top: -29px;
}
.promo-header .text :hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.main-header {
  /* Mixin */
}
.main-header #menu1::-webkit-scrollbar {
  display: none;
}
.main-header .menu-ul-1 {
  padding: 10px 0px 10px 10px;
  margin-left: -18px;
}
.main-header #menu1 {
  background-color: rgb(251, 251, 251);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-header .menu-ul {
  list-style-type: none;
  background-color: rgb(251, 251, 251);
  margin-left: -18px;
  padding: 10px 0px 10px 10px;
}
.main-header .menu-ul a,
.main-header .menu-ul label {
  display: block;
  text-align: left;
  padding: 0 35px;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
.main-header .menu-ul a:hover,
.main-header .menu-ul label:hover {
  height: 100%;
  background: #e4e4e4;
}
.main-header .menu-ul label {
  background-color: rgb(251, 251, 251);
  width: 100%;
}
.main-header .menu-ul li {
  background-color: rgb(251, 251, 251) !important;
  width: 100% !important;
}
.main-header #m-menu2 ul {
  list-style-type: none;
  background-color: rgb(251, 251, 251);
}
.main-header #m-menu2 .m-menu__header {
  height: 62px;
  background-color: white;
}
.main-header #m-menu2 .prev {
  margin-left: -4px;
  margin-bottom: 1px;
}
.main-header body {
  background-color: #f1f1f1;
}
.main-header nav {
  background-color: white;
  height: 50px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  /* fade in checked menu */
}
.main-header nav .m-menu__checkbox {
  display: none;
}
.main-header nav span:hover {
  color: red;
}
.main-header nav .m-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 375px;
  width: calc(100vw - 30px);
  height: 100%;
  transform: translate3d(-450px, 0, 0);
  transition: transform 0.35s;
  z-index: 1;
  overflow: hidden;
  background-color: #fff;
}
.main-header nav .m-menu__overlay {
  background-color: hsla(0deg, 0%, 40.4%, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  display: none;
}
.main-header nav .m-menu hr {
  border-top: 1px solid #0c0808;
  width: 400px;
  margin-left: -2rem;
}
.main-header nav .m-menu .hr {
  border-top: 1px solid #ccc;
  display: inline-block;
  width: 326px;
  margin: 0 33px;
  margin-bottom: 10px;
}
.main-header nav .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
.main-header nav .m-menu__header span {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-left: -28px;
}
.main-header nav .m-menu .category-header {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 17px 28px;
  color: #000000;
}
.main-header nav .m-menu .category-header2 {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 17px 34px;
  color: #000000;
}
.main-header nav .m-menu .category-games {
  margin-left: 17px;
}
.main-header nav .m-menu .category-games a {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0px 17px;
  color: #000000;
}
.main-header nav .m-menu .content-support {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 17px 34px;
  color: #000000;
}
.main-header nav .m-menu .content-explore {
  background-color: rgb(251, 251, 251);
}
.main-header nav .m-menu .new-releases {
  border-top: 1px solid #ccc;
}
.main-header nav .m-menu #menu-header {
  background-color: white;
  height: 4rem;
}
.main-header nav .m-menu .m-menu {
  transform: translate3d(480px, 0, 0);
}
.main-header nav .m-menu .store-container {
  background-color: rgb(251, 251, 251);
}
.main-header nav .m-menu .store-container a:hover {
  color: #e7230d;
}
.main-header nav .m-menu .store-container .store-icon i {
  margin-left: -3rem;
  margin-top: 0.8rem;
}
.main-header nav .m-menu .store-header {
  padding: 4px 0;
  background-color: rgb(251, 251, 251);
  border-bottom: 1px solid #ccc;
  padding-left: 25px;
}
.main-header nav .m-menu .store-header .store-name {
  font-size: 14px;
  font-weight: 700;
  padding: 0 100px 0 0;
  font-family: "Open Sans", sans-serif;
}
.main-header nav .m-menu .store-header .store-time {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.main-header nav .m-menu ul {
  height: 100%;
}
.main-header nav .m-menu ul li a,
.main-header nav .m-menu ul li label {
  display: block;
  text-align: left;
  padding: 0 35px;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
.main-header nav .m-menu ul li label.a-label__chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
}
.main-header nav .m-menu ul li .-invisible {
  border-bottom: 0;
}
.main-header nav .m-menu .m-menu label.m-menu__toggle {
  display: flex;
  border-bottom: 0;
  padding: 0;
  box-sizing: content-box;
}
.main-header nav .m-menu__checkbox:checked ~ .m-menu__overlay {
  display: block;
}
.main-header nav .m-menu__checkbox:checked ~ .m-menu {
  transform: translate3d(0, 0, 0);
}
.main-header .m-menu__toggle {
  cursor: pointer;
  margin: 0px 18px;
}
.main-header .m-menu__toggle svg {
  position: absolute;
  top: 2.8%;
}
.main-header .m-menu__toggle .back {
  margin-top: -1rem;
  margin-left: -0.7rem;
}
.main-header .m-menu__toggle .back:hover {
  stroke: red;
}
.main-header .m-menu__toggle .prev-element:hover {
  color: red;
}
.main-header .m-menu__toggle .close {
  left: 86.7%;
  top: 1%;
  cursor: pointer;
}
.main-header .m-menu__toggle span {
  font-size: 12px;
  margin-left: 4px;
  color: black;
  padding-top: 42px;
  font-family: "Open-Sans", sans-serif;
}
.main-header .m-menu__toggle span:hover {
  color: red;
}
.main-header .header-wrapper {
  height: 667px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.main-header .header-brand .nav-logo {
  width: 157px;
  margin-left: 5px;
}
.main-header nav {
  align-items: center;
  height: 80px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.main-header .header-search body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.main-header .header-search .height {
  height: 100vh;
}
.main-header .header-search .search {
  position: relative;
  border: none;
  outline: none;
}
.main-header .header-search .search input {
  height: 40px;
  text-indent: 25px;
  border: none;
  margin-left: 14px;
  width: 758px;
  background: #f0f0f0 0 0 no-repeat padding-box;
}
.main-header .header-search .search input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.main-header .header-search .search input:focus {
  box-shadow: none;
  background-color: white;
  box-shadow: 0 0 16px 0 #e0e0e0;
}
.main-header .header-search .search .fa-search {
  position: absolute;
  top: 14px;
  left: 36.5px;
  font-size: 13px;
}
.main-header .header-options .header-trade {
  margin-left: 10px;
}
.main-header .header-options .header-trade a {
  text-decoration: none;
  color: black;
}
.main-header .header-options .header-trade img {
  width: 28px;
  margin: 6px 12px;
  transform: rotate(90deg);
}
.main-header .header-options .header-trade span {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.main-header .account-header .header-powerup {
  margin-left: 63px;
}
.main-header .account-header .header-powerup img {
  margin-left: 35px;
  width: 33px;
}
.main-header .account-header .header-powerup span {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.main-header .account-header .header-powerup a {
  margin-top: 8px;
  display: block;
}
.main-header .account-header .account {
  margin-left: 2.5rem;
  margin-top: 14px;
}
.main-header .account-header .account i {
  font-size: 20px;
  color: black;
  margin-left: 14px;
  margin-bottom: 7px;
}
.main-header .account-header .account span {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-left: 5px;
}
.main-header a {
  text-decoration: none;
  color: black;
}
.main-header .header-cart {
  margin-top: 8px;
}
.main-header .header-cart span {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-left: 3px;
}
.main-header .header-cart .cart svg {
  width: 28px;
}/*# sourceMappingURL=style.css.map */