* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.zippo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999;
}

.header-banner nav {
  background-color: #282828 !important;
  height: 40px;
}
.header-banner nav .navbar-brand {
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.header-banner nav .text-right {
  margin-bottom: 4px;
}
.header-banner nav .text-right a {
  color: #ffffff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.header-banner nav .text-right i {
  padding: 0 4px;
  font-size: 13px;
}
.header-banner nav .text-right .check-order {
  margin-right: 2.5rem;
}
.header-banner a {
  text-decoration: none;
}

.promo-header {
  background-color: #F9BC02;
  height: 50px;
}
.promo-header .text {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.promo-header .text a {
  text-decoration: none;
  color: black;
}
.promo-header .text p {
  padding: 4px 0px;
  text-align: center;
}
.promo-header .text .price p {
  margin-left: auto;
  margin-right: auto;
  margin-top: -29px;
}
.promo-header .text :hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

#m-menu2 {
  height: 1184px;
}

.main-header {
  /* Mixin */
}
.main-header #menu1::-webkit-scrollbar {
  display: none;
}
.main-header .menu-ul-1 {
  padding: 10px 0px 10px 10px;
  margin-left: -18px;
}
.main-header #menu1 {
  background-color: rgb(251, 251, 251);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
}
.main-header .menu-ul {
  list-style-type: none;
  background-color: rgb(251, 251, 251);
  margin-left: -18px;
  padding: 10px 0px 10px 10px;
}
.main-header .menu-ul a,
.main-header .menu-ul label {
  display: block;
  text-align: left;
  padding: 0 35px;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
.main-header .menu-ul a:hover,
.main-header .menu-ul label:hover {
  height: 100%;
  background: #e4e4e4;
}
.main-header .menu-ul label {
  background-color: rgb(251, 251, 251);
  width: 100%;
}
.main-header .menu-ul li {
  background-color: rgb(251, 251, 251) !important;
  width: 100% !important;
}
.main-header #m-menu2 .menu-ul:target {
  display: none !important;
}
.main-header #m-menu2 ul {
  list-style-type: none;
  background-color: rgb(251, 251, 251);
}
.main-header #m-menu2 .m-menu__header {
  height: 62px;
  background-color: white;
}
.main-header #m-menu2 .m-menu__header:hover {
  stroke: red;
  color: red;
}
.main-header #m-menu2 .prev {
  margin-left: -4px;
}
.main-header body {
  background-color: #f1f1f1;
}
.main-header nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999;
  background-color: white;
  height: 50px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  /* fade in checked menu */
}
.main-header nav .m-menu__checkbox {
  display: none;
}
.main-header nav span:hover {
  color: red;
}
.main-header nav .m-menu::-webkit-scrollbar {
  display: none;
}
.main-header nav .m-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 375px;
  width: calc(100vw - 30px);
  height: 100%;
  transform: translate3d(-450px, 0, 0);
  transition: transform 0.35s;
  z-index: 1;
  overflow: hidden;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  background-color: #fff;
}
.main-header nav .m-menu__overlay {
  background-color: hsla(0deg, 0%, 5%, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  display: none;
}
.main-header nav .m-menu hr {
  border-top: 1px solid #0c0808;
  width: 400px;
  margin-left: -2rem;
}
.main-header nav .m-menu .hr {
  border-top: 1px solid #ccc;
  display: inline-block;
  width: 326px;
  margin: 0 33px;
  margin-bottom: 10px;
}
.main-header nav .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
.main-header nav .m-menu__header span {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-left: -28px;
}
.main-header nav .m-menu .category-header {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 17px 28px;
  color: #000000;
}
.main-header nav .m-menu .category-header2 {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 17px 34px;
  color: #000000;
}
.main-header nav .m-menu .category-games {
  margin-left: 17px;
}
.main-header nav .m-menu .category-games a {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0px 17px;
  color: #000000;
}
.main-header nav .m-menu .content-support {
  background-color: rgb(251, 251, 251);
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 17px 34px;
  color: #000000;
}
.main-header nav .m-menu .content-explore {
  background-color: rgb(251, 251, 251);
}
.main-header nav .m-menu .new-releases {
  border-top: 1px solid #ccc;
}
.main-header nav .m-menu #menu-header {
  background-color: white;
  height: 4rem;
}
.main-header nav .m-menu .m-menu {
  transform: translate3d(480px, 0, 0);
}
.main-header nav .m-menu .store-container {
  background-color: rgb(251, 251, 251);
}
.main-header nav .m-menu .store-container a:hover {
  color: #e7230d;
}
.main-header nav .m-menu .store-container .store-icon i {
  margin-left: -3rem;
  margin-top: 0.8rem;
}
.main-header nav .m-menu .store-header {
  padding: 4px 0;
  background-color: rgb(251, 251, 251);
  border-bottom: 1px solid #ccc;
  padding-left: 25px;
}
.main-header nav .m-menu .store-header .store-name {
  font-size: 14px;
  font-weight: 700;
  padding: 0 100px 0 0;
  font-family: "Open Sans", sans-serif;
}
.main-header nav .m-menu .store-header .store-time {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.main-header nav .m-menu ul {
  height: 100%;
}
.main-header nav .m-menu ul li .deals {
  color: #f03125;
  font-weight: 700;
}
.main-header nav .m-menu ul li a,
.main-header nav .m-menu ul li label {
  display: block;
  text-align: left;
  padding: 0 35px;
  font-family: "Open Sans", sans-serif;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}
.main-header nav .m-menu ul li label.a-label__chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
}
.main-header nav .m-menu ul li .-invisible {
  border-bottom: 0;
}
.main-header nav .m-menu .m-menu label.m-menu__toggle {
  display: flex;
  border-bottom: 0;
  padding: 0;
  box-sizing: content-box;
}
.main-header nav .m-menu__checkbox:checked ~ .m-menu__overlay {
  display: block;
}
.main-header nav .m-menu__checkbox:checked ~ .m-menu {
  transform: translate3d(0, 0, 0);
}
.main-header .m-menu__toggle {
  margin: 0px 18px;
  cursor: pointer;
}
.main-header .m-menu__toggle svg {
  position: absolute;
  margin-top: 10px;
}
.main-header .m-menu__toggle .back {
  margin-top: -1rem;
  margin-left: -0.7rem;
}
.main-header .m-menu__toggle .close {
  left: 86.7%;
  top: 1%;
  cursor: pointer;
}
.main-header .m-menu__toggle span {
  font-size: 12px;
  margin-left: 4px;
  color: black;
  padding-top: 42px;
  font-family: "Open-Sans", sans-serif;
}
.main-header .m-menu__toggle span:hover {
  color: red;
}
.main-header .header-wrapper {
  height: 94px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.main-header .header-brand .nav-logo {
  width: 157px;
  margin-left: 5px;
}
.main-header nav {
  align-items: center;
  height: 80px;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.main-header .header-search body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.main-header .header-search .height {
  height: 100vh;
}
.main-header .header-search .search {
  position: relative;
  border: none;
  outline: none;
}
.main-header .header-search .search input {
  height: 40px;
  text-indent: 25px;
  border: none;
  margin-left: 14px;
  width: 758px;
  background: #f0f0f0 0 0 no-repeat padding-box;
}
.main-header .header-search .search input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.main-header .header-search .search input:focus {
  box-shadow: none;
  background-color: white;
  box-shadow: 0 0 16px 0 #e0e0e0;
}
.main-header .header-search .search .fa-search {
  position: absolute;
  top: 14px;
  left: 36.5px;
  font-size: 13px;
}
.main-header .header-options .header-trade {
  margin-left: 10px;
}
.main-header .header-options .header-trade a {
  text-decoration: none;
  color: black;
}
.main-header .header-options .header-trade img {
  width: 28px;
  margin: 6px 12px;
  transform: rotate(90deg);
}
.main-header .header-options .header-trade span {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.main-header .account-header .header-powerup {
  margin-left: 63px;
}
.main-header .account-header .header-powerup img {
  margin-left: 35px;
  width: 33px;
}
.main-header .account-header .header-powerup span {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.main-header .account-header .header-powerup a {
  margin-top: 8px;
  display: block;
}
.main-header .account-header .account {
  margin-left: 2.5rem;
  margin-top: 14px;
}
.main-header .account-header .account i {
  font-size: 20px;
  color: black;
  margin-left: 14px;
  margin-bottom: 7px;
}
.main-header .account-header .account span {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-left: 5px;
}
.main-header a {
  text-decoration: none;
  color: black;
}
.main-header .header-cart {
  margin-top: 8px;
}
.main-header .header-cart span {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-left: 3px;
}
.main-header .header-cart .cart svg {
  width: 28px;
}

.home-content a {
  text-decoration: none;
}
.home-content .home-card {
  gap: 9rem;
  margin: 0px -61px;
}
.home-content .home-img img {
  width: 121%;
  height: 100%;
}
.home-content .center-content img {
  width: 95.7%;
  margin-left: 2rem;
  height: 196px;
}
.home-content .card-title a {
  display: block;
}
.home-content .h-title {
  margin-top: 5px;
  margin-bottom: 6px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
.home-content .h-subtitle {
  font-family: "Open Sans", sans-serif;
  color: #625656;
  font-size: 14px;
}

.to-top {
  background-color: #fff;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  z-index: 999999999999;
  color: black;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3s;
}
.to-top i {
  color: black;
  font-size: 17px;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.product-content {
  margin-top: 15px;
}
.product-content #slidero {
  margin-top: -3rem;
}
.product-content .heading h2 {
  font-size: 24px;
}
.product-content .heading a {
  color: black;
  font-family: "Open Sans", sans-serif;
}
.product-content .pageInfo {
  position: absolute;
  top: 130%;
  left: 91%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.product-content .pageInfo2 {
  position: absolute;
  top: 170%;
  left: 91%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.product-content .card-text {
  margin-left: -11px;
}
.product-content .card-box {
  margin-left: 3.5px;
}
.product-content .slick-slide {
  margin-left: 6px !important;
  margin-right: -77px !important;
}
.product-content .slick-list {
  display: block;
}
.product-content .card {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  width: 224px !important;
  height: 284px !important;
  border: none;
}
.product-content .card:hover {
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}
.product-content .card img {
  width: 80%;
  padding-top: 13px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.product-content .card a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.product-content .card .card-text {
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
}

.main-content {
  margin-left: 0.778rem;
}
.main-content .main-image {
  gap: 4.8rem;
  padding: 0px 49px;
}
.main-content .main-image img {
  width: 103.5%;
  margin-left: -30px;
  margin-right: 20px;
  height: auto;
}
.main-content .main-image .mb-img {
  display: none;
}

.product-content2 {
  margin-top: 15px;
}
.product-content2 .heading h2 {
  font-size: 24px;
}
.product-content2 .heading a {
  color: black;
}
.product-content2 .pageInfo2 {
  position: absolute;
  top: 228%;
  left: 91.3%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.product-content2 .card-box {
  margin-left: 31.5px;
  gap: 0.9rem;
  margin-top: -24px;
}
.product-content2 .card {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  width: 224px;
  height: 284px;
  border: none;
}
.product-content2 .card:hover {
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}
.product-content2 .card img {
  width: 80%;
  padding-top: 13px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.product-content2 .card a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.product-content2 .card .card-text {
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
}
.product-content2 .card .card-subtext {
  font-size: 12px;
  margin-top: -1rem;
  color: #9b9b9b;
}

.product-brand .heading h2 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 25px !important;
}
.product-brand .brand-card {
  margin-left: 1.1rem;
}
.product-brand .brand-card a {
  width: 100%;
}
.product-brand .brand-card img {
  width: 264px;
  margin: 12.5px 12.5px;
}

.home-content2 {
  margin-top: 3.3px;
}
.home-content2 a {
  text-decoration: none;
}
.home-content2 .home-card {
  gap: 9rem;
  margin: 0px -63px;
}
.home-content2 .home-img img {
  width: 121.6%;
  height: 100%;
}
.home-content2 .home-img .mb-img {
  display: none !important;
}
.home-content2 .center-content img {
  width: 109.7%;
  margin-left: -3.9rem;
  height: 196px;
}
.home-content2 .center-content .mb-img {
  display: none;
}
.home-content2 .card-title a {
  display: block;
}
.home-content2 .h-title {
  margin-top: 5px;
  margin-bottom: 6px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
.home-content2 .h-subtitle {
  font-family: "Open Sans", sans-serif;
  color: #625656;
  font-size: 14px;
}

.product-content3 {
  margin-top: 15px;
}
.product-content3 #slider {
  display: flex;
}
.product-content3 #slider .slick-next {
  outline: none;
  width: 440px;
  height: 440px;
  border: none;
  border-radius: 6px;
  z-index: 2;
  right: -193px !important;
  top: 56%;
  opacity: 1;
}
.product-content3 #slider .slick-next:before {
  color: #E5E3DA;
  width: 440px;
  height: 440px;
  font-size: 34.5px;
}
.product-content3 #slider .slick-prev {
  outline: none;
  width: 440px;
  height: 440px;
  border: none;
  border-radius: 6px;
  z-index: 2;
  left: -15.5%;
  top: 56%;
}
.product-content3 #slider .slick-prev:before {
  color: #E5E3DA;
  width: 440px;
  height: 440px;
  font-size: 34.5px;
}
.product-content3 #slider .slick-prev:after {
  opacity: 0;
}
.product-content3 .card-body {
  margin-left: -16px;
  margin-top: -8px;
}
.product-content3 .heading h2 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.product-content3 .heading a {
  color: black;
}
.product-content3 .card-box {
  margin-left: 35.5px;
  gap: 4.078rem !important;
  margin-top: -51px;
}
.product-content3 .card {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  width: 224px !important;
  height: 284px !important;
  border: none;
}
.product-content3 .card img {
  width: 117% !important;
  padding-top: 13px;
  display: block;
}
.product-content3 .card a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.product-content3 .card .card-subtext {
  font-size: 12px;
  margin-top: -1rem;
  color: #9b9b9b;
}

.top-deals {
  margin-top: 40px;
  margin-left: 3.778rem;
  margin-top: 15px;
}
.top-deals .heading-text h2 {
  font-family: Poppins, Open Sans, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 13px;
}
.top-deals .main-image {
  gap: 2rem !important;
}
.top-deals .main-image .mb-img {
  display: none !important;
}
.top-deals .main-image img {
  width: 696px;
  margin-left: -24px;
  margin-right: 20px;
  height: auto;
}
.top-deals #slider1 {
  display: flex;
}
.top-deals #slider1 .slick-next {
  outline: none;
  width: 440px;
  height: 440px;
  border: none;
  border-radius: 6px;
  z-index: 2;
  right: -193px !important;
  top: 56%;
  opacity: 1;
}
.top-deals #slider1 .slick-next:before {
  color: #E5E3DA;
  width: 440px;
  height: 440px;
  font-size: 34.5px;
}
.top-deals #slider1 .slick-prev {
  outline: none;
  width: 440px;
  height: 440px;
  border: none;
  border-radius: 6px;
  z-index: 2;
  left: -15.5%;
  top: 56%;
}
.top-deals #slider1 .slick-prev:before {
  color: #E5E3DA;
  width: 440px;
  height: 440px;
  font-size: 34.5px;
}
.top-deals #slider1 .slick-prev:after {
  opacity: 0;
}
.top-deals .card-body {
  margin-left: -16px;
  margin-top: -8px;
}
.top-deals .heading h2 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.top-deals .heading a {
  color: black;
}
.top-deals .card-box {
  margin-left: -24.5px;
  gap: 4.078rem !important;
  margin-top: -51px;
}
.top-deals .card {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  width: 276px !important;
  height: 284px !important;
  border: none;
}
.top-deals .card img {
  width: 122% !important;
  padding-top: 13px;
  display: block;
}
.top-deals .card a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.top-deals .card .card-subtext {
  font-size: 12px;
  margin-top: -1rem;
  color: #9b9b9b;
}

.product-content4 {
  margin-top: 15px;
}
.product-content4 .pageInfo3 {
  position: absolute;
  top: 170%;
  left: 91%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.product-content4 #slider2 {
  display: flex;
}
.product-content4 #slider2 .slick-slide {
  margin-left: 9px !important;
  margin-right: -34px !important;
}
.product-content4 .card-body {
  width: 200px !important;
  margin-left: 4px;
  margin-top: -8px;
}
.product-content4 .heading span {
  display: block;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.product-content4 .heading a {
  color: black;
}
.product-content4 .card-box {
  margin-left: 25.5px;
  margin-top: -30px;
}
.product-content4 .card {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  width: 211.8px !important;
  height: 295px !important;
  border: none;
}
.product-content4 .card:hover {
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}
.product-content4 .card img {
  width: 85% !important;
  padding-top: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-content4 .card a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  line-height: 1.2;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}

.featured-categories .carding {
  margin-bottom: -12px !important;
}
.featured-categories p {
  margin-left: 15px;
  font-size: 16px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
  margin-top: -7px;
}
.featured-categories .heading h2 {
  font-family: "Poppins", "Open Sans", sans-serif;
  font-size: 24px !important;
  font-weight: bold;
}
.featured-categories .category-card {
  margin-left: 1.7rem;
}
.featured-categories .category-card a {
  width: 100%;
  text-decoration: none;
}
.featured-categories .category-card img {
  width: 264px;
  margin: 12.5px 12.5px;
}

.bottom-content {
  margin-top: 35px;
}
.bottom-content h2 {
  font-size: 16px;
}
.bottom-content .text {
  text-align: center;
  line-height: 0.5rem;
}

footer .footer-item {
  margin-left: -1.3rem;
  gap: 2rem;
}
footer .content {
  padding: 0 25px;
}
footer .footer-copyright {
  margin-left: -4px;
  margin-bottom: 27px;
}
footer ul {
  padding: 0rem !important;
}
footer a {
  text-decoration: none;
}
footer li {
  list-style-type: none;
}
footer li a {
  font-size: 14px;
  font-weight: 400;
  color: #121212;
}
footer li a:hover {
  color: black;
  text-decoration: underline;
}
footer .title {
  display: block;
}
footer .title h5 {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-family: "Poppins", sans-serif;
}
footer .footer-social .footer-signup input {
  height: 40px;
  text-indent: 2px;
  border: none;
  border-radius: 0px !important;
  margin-left: 14px;
  width: 758px;
  background: #f0f0f0 0 0 no-repeat padding-box;
}
footer .footer-social .footer-signup input:focus::-webkit-input-placeholder {
  opacity: 0;
}
footer .footer-social .footer-signup input:focus {
  box-shadow: none;
  background-color: white;
  box-shadow: 0 0 16px 0 #e0e0e0;
}
footer .footer-social .footer-signup p {
  margin-left: 15px;
}
footer .footer-social .footer-signup .input-group {
  background-color: red;
  text-align: center;
  display: block;
  width: 245px !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
footer .footer-social .footer-signup .input-group button {
  font-weight: bold;
  color: white;
  font-size: 14px;
}
footer .footer-social .footer-signup .input-group button:hover {
  color: black !important;
}
footer .footer-social .footer-signup .ftr-title h5 {
  font-size: 16px;
  font-family: Poppins, Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 14px;
}
footer .footer-social .footer-signup p {
  font-size: 13px;
}
footer .content-app #app-title h5 {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-family: Poppins, Open Sans, sans-serif;
  margin-left: 10px;
  margin-left: 15px;
  margin-top: 19px;
}
footer .app {
  display: flex;
  gap: 0.6rem;
  margin-left: 14px;
}
footer a img {
  width: 137px !important;
  height: 42px !important;
}
footer .footer-social-spacer {
  margin-top: 1.5rem;
}
footer .footer-social-spacer .footer-icon {
  margin-left: 1rem;
  display: flex;
  gap: 0.4rem;
}
footer .footer-social-spacer h5 {
  font-size: 16px;
  font-family: Poppins, Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 14px;
  margin-top: 15px;
}
footer .footer-social-spacer .icon {
  vertical-align: middle;
  width: 32px !important;
  height: 32px !important;
  display: inline-table;
}
footer .footer-social-spacer a {
  padding-left: 1rem;
}
footer .footer-social-spacer .icon-facebook {
  background: url("https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/facebook.svg") no-repeat 0 0;
}
footer .footer-social-spacer .icon-twitter {
  background: url("https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/twitter.svg");
}
footer .footer-social-spacer .icon-youtube {
  background: url("https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/youtube.svg");
}
footer .footer-social-spacer .icon-instagram {
  background: url("https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/v1672246282215/images/svg-icons/instagram.svg");
}
footer .footer-subtext {
  margin-top: 20px;
}
footer .footer-subtext .content-text {
  display: flex;
}
footer .footer-subtext .footer-country-list {
  display: flex;
  margin-left: 6.6rem;
}
footer .footer-subtext .footer-country-list li:after {
  content: "|";
  margin: 0 5px;
}
footer .footer-subtext .country:hover {
  cursor: pointer;
  color: #e7230d;
  text-decoration: underline;
}
footer .footer-subtext .country:last-child:after {
  content: "";
}
footer #hr {
  border-top: 1px solid rgb(241, 238, 238);
  display: inline-block;
  width: 1500px;
  margin-top: 105px;
  margin-bottom: 26px;
}

.mb-home-content {
  display: none;
}

.mb-product-content2 {
  display: none;
}

@media (max-width: 576px) {
  html {
    overflow-x: hidden;
  }
  .header-banner {
    background-color: #282828;
  }
  .header-banner .navbar-toggler {
    display: none;
  }
  .header-banner .shopping {
    display: none;
  }
  .header-banner .check-order {
    display: none;
  }
  .header-banner .navbar-brand {
    margin-left: auto;
    margin-right: auto;
    margin-top: -1rem;
  }
  .promo-header .text {
    font-size: 14.8px;
    font-family: "Open Sans", sans-serif;
  }
  .header-wrapper {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  }
  .header-wrapper nav {
    height: 98.5px;
  }
  .header-wrapper #m-menu {
    display: none !important;
  }
  .header-wrapper .m-menu__toggle svg {
    width: 5.8% !important;
    margin-top: -40px !important;
    margin-left: -12px;
  }
  .header-wrapper .nav-logo {
    width: 105px !important;
    margin-left: 2px !important;
    margin-top: -53px;
  }
  .header-wrapper .header-options {
    display: none !important;
  }
  .header-wrapper .powerup {
    display: none;
  }
  .header-wrapper .header-search .search {
    top: 2%;
    left: -22%;
  }
  .header-wrapper .header-search .search input {
    border-radius: 0px !important;
    margin-left: -97px;
    width: 350px;
  }
  .header-wrapper .header-search .fa-search {
    top: 13px !important;
    left: -77.5px !important;
    font-size: 11.7px !important;
  }
  .header-wrapper .account-header {
    margin-left: 1rem;
  }
  .header-wrapper .account-header .account {
    margin-left: -9.5rem;
    margin-top: -48px;
  }
  .header-wrapper .account-header .user {
    margin-top: -6px;
    display: flex !important;
  }
  .header-wrapper .account-header .user span {
    position: relative;
    left: -35%;
    font-weight: 600;
  }
  .header-wrapper .account-header .account i {
    margin-left: 11px;
    margin-bottom: -17px;
    display: flex;
    font-size: 14px;
  }
  .header-wrapper .header-cart #cart {
    display: none;
  }
  .header-wrapper .header-cart .cart svg {
    margin-left: -7rem;
    margin-top: -50px;
    width: 86.5%;
  }
  .home-content {
    display: none;
  }
  .mb-home-content {
    display: block;
  }
  .mb-home-content a {
    text-decoration: none;
  }
  .mb-home-content .home-card {
    gap: 1rem;
    margin: 16px 1px;
  }
  .mb-home-content .home-img img {
    max-width: 100%;
    height: 100%;
  }
  .mb-home-content .center-content img {
    width: 93.9%;
    margin-left: 0.7rem;
  }
  .mb-home-content #card-title {
    margin-left: -59px;
  }
  .mb-home-content #card-sub-title {
    margin-left: -59px;
  }
  .mb-home-content .card-title a {
    display: block;
  }
  .mb-home-content .h-title {
    width: 160px;
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #000000;
  }
  .mb-home-content .h-subtitle {
    font-family: "Open Sans", sans-serif;
    color: #625656;
    font-size: 14px;
  }
  .main-content {
    overflow-x: hidden !important;
  }
  .product-content .heading {
    display: flex;
  }
  .product-content .heading h2 {
    font-size: 16px;
    text-align: left;
    min-width: 194px;
    padding-left: 14px;
  }
  .product-content .heading a {
    margin-left: 7rem;
    margin-top: 6px;
    font-family: "Open Sans", sans-serif;
  }
  .product-content .card {
    width: 158px !important;
    margin-bottom: 0rem !important;
  }
  .product-content .card img {
    width: 91% !important;
  }
  .product-content .card:hover {
    background: none !important;
    box-shadow: none !important;
  }
  .product-content .pageInfo {
    display: none;
  }
  .main-content .h-img {
    display: none;
  }
  .main-content .mb-img {
    display: block !important;
  }
  .main-content .mb-img img {
    width: 186.5% !important;
    margin-left: -126px !important;
    margin-right: 20px;
    margin-top: 1rem;
    height: auto;
  }
  .product-content2 {
    display: none;
  }
  .mb-product-content2 {
    display: block !important;
    margin-top: 15px;
  }
  .mb-product-content2 .heading {
    display: flex;
  }
  .mb-product-content2 .heading h2 {
    font-size: 16px;
    text-align: left;
    min-width: 194px;
    padding-left: 14px;
  }
  .mb-product-content2 .heading a {
    margin-left: 7rem;
    margin-top: 6px;
    color: black;
    font-family: "Open Sans", sans-serif;
  }
  .mb-product-content2 .pageInfo2 {
    display: none;
  }
  .mb-product-content2 .card-body {
    margin-left: -1rem;
  }
  .mb-product-content2 .card-box {
    margin-left: 19.5px;
    gap: 0.9rem;
    margin-top: -24px;
  }
  .mb-product-content2 .card {
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    width: 224px;
    height: 284px;
    border: none;
  }
  .mb-product-content2 .card img {
    width: 81%;
    padding-top: 13px;
    display: block;
  }
  .mb-product-content2 .card a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  .mb-product-content2 .card .card-text {
    font-size: 0.875rem;
    font-weight: 600;
    max-width: 134px;
    color: black;
  }
  .mb-product-content2 .card .card-subtext {
    font-size: 12px;
    margin-top: -1rem;
    color: #9b9b9b;
  }
  .product-brand .heading h2 {
    font-size: 16px !important;
    padding-left: 14px;
    text-align: left;
    font-weight: 500;
  }
  .product-brand .br-card {
    display: flex;
    flex-wrap: wrap;
  }
  .product-brand .br-card img {
    width: 180px;
  }
  .product-brand .brand-card {
    display: flex;
    margin-right: 0.6rem;
    margin-left: 0rem;
  }
  .product-brand .amp-card {
    margin: 0 0 -12px;
    width: 50%;
    max-width: 220px;
  }
  .product-brand .amp-card img {
    width: 170px;
  }
  .home-content2 .h-img {
    display: none;
  }
  .home-content2 .mb-img {
    display: block;
  }
  .home-content2 .home-card {
    gap: 3.5rem !important;
    margin: 13px 1px;
  }
  .home-content2 .mb-img {
    display: block !important;
  }
  .home-content2 .home-img {
    height: auto !important;
  }
  .home-content2 .home-img .mb-img {
    display: block !important;
    width: 169px;
    height: 167px;
    margin-right: -41px !important;
  }
  .home-content2 .center-content img {
    width: 100%;
    height: auto;
    margin-left: 0rem;
  }
  .product-content3 .heading h2 {
    text-align: left;
    font-size: 16px;
    font-family: "Poppins", "Open Sans", sans-serif;
    padding-left: 15px;
  }
  .product-content3 .card img {
    width: 65% !important;
  }
  .product-content3 #slider {
    margin-left: 15.5px;
    gap: -0.922rem !important;
    margin-top: -58px;
    display: flex;
  }
  .product-content3 .slick-slide {
    width: 163px !important;
  }
  .top-deals {
    margin-top: -34px;
  }
  .top-deals .heading-text h2 {
    font-size: 16px;
    text-align: left;
    margin-left: -3.1rem;
    margin-bottom: -13px;
    font-weight: 600;
  }
  .top-deals .mb-img {
    margin-left: -49px;
  }
  .top-deals .h-img {
    display: none;
  }
  .top-deals .main-image {
    gap: 1rem !important;
    flex-wrap: wrap;
  }
  .top-deals .main-image img {
    width: 112%;
    margin-left: -49px;
  }
}/*# sourceMappingURL=style.css.map */